* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

body {
    font-size: 15px;
    background-color: #d5e1ef;
}
.container {
    border-radius: 20px;
    width: 21em;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.7);
    padding: 65px 0px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    background-color: white;
}

img {
    position: relative;
    border-radius: 10%;
    right: 10px;
    bottom: 70px;
    width: 22em;
    padding: 20px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    width: 90%;
    text-align: center;
    margin-top: -70px;
    position: relative;
    left: 12px;
}

p {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    width: 80%;
    position: relative;
    top: 20px;
    left: 25px;
    color: hsl(220, 15%, 55%);
}